Reels Video Pipeline.production.json
{
  "name": "Reels Video Pipeline (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-generate",
      "name": "Webhook - Generate Video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT videos_remaining FROM customers WHERE id = $1",
        "additionalFields": {
          "queryParams": "={{$json.body.customer_id}}"
        }
      },
      "id": "pg-check-quota",
      "name": "Postgres - Check Quota",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        420,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.videos_remaining}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-quota",
      "name": "IF - Has Quota",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 402,
        "responseBody": "={{ { ok: false, error: 'No videos remaining. Please upgrade your plan.' } }}",
        "options": {}
      },
      "id": "respond-no-quota",
      "name": "Respond - No Quota",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "video_jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{$(\"Webhook - Generate Video\").item.json.body.customer_id}}",
            "topic": "={{$(\"Webhook - Generate Video\").item.json.body.topic}}",
            "status": "pending"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "topic",
            "customer_id",
            "created_at"
          ]
        }
      },
      "id": "pg-insert-job",
      "name": "Postgres - Insert Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, job_id: $json.id, status: 'queued' } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"claude-haiku-4-5\", \"max_tokens\": 4096, \"system\": [{\"type\": \"text\", \"text\": \"You are a real-estate video reel scriptwriter specialising in Indian and global property markets. Respond with ONLY a raw JSON object — no markdown, no code fences, no explanation. Your entire response must parse as valid JSON. Output a single object with one key: scenes (array of exactly 5 objects). Each object: scene_id (integer 1-5), image_prompt (a photorealistic prompt: shot type + subject with architectural details + lighting + mood — always end with: photorealistic, 9:16 vertical, no text, no people, no watermarks, ultra-detailed), voiceover_text (12-18 spoken words, conversational, punchy, present tense, no hashtags, no emojis). Scene 1 = strong exterior hook. Scenes 2-4 = interior highlights. Scene 5 = CTA or emotional close.\", \"cache_control\": {\"type\": \"ephemeral\"}}], \"messages\": [{\"role\": \"user\", \"content\": \"Write a 5-scene real-estate Reel script for: \" + $(\"Webhook - Generate Video\").item.json.body.topic}]} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        }
      },
      "id": "anthropic-generate",
      "name": "Anthropic - Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ANTHROPIC_CRED_ID",
          "name": "anthropic"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "job_id",
              "type": "number",
              "value": "={{$(\"Postgres - Insert Job\").item.json.id}}"
            },
            {
              "name": "topic",
              "type": "string",
              "value": "={{$(\"Webhook - Generate Video\").item.json.body.topic}}"
            },
            {
              "name": "customer_id",
              "type": "number",
              "value": "={{$(\"Webhook - Generate Video\").item.json.body.customer_id}}"
            },
            {
              "name": "scenes",
              "type": "array",
              "value": "={{ (() => { const t = $json.content[0].text.trim(); try { return JSON.parse(t).scenes; } catch(e) {} const m = t.match(/```(?:json)?\\s*([\\s\\S]*?)```/); return JSON.parse(m ? m[1].trim() : t).scenes; })() }}"
            }
          ]
        }
      },
      "id": "set-script-context",
      "name": "Set - Script Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "include": "selectedOtherFields",
        "fieldsToInclude": "job_id,topic,customer_id"
      },
      "id": "split-scenes",
      "name": "Split - Scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-scenes",
      "name": "Loop - Scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "job_id",
              "type": "number",
              "value": "={{$json.job_id}}"
            },
            {
              "name": "topic",
              "type": "string",
              "value": "={{$json.topic}}"
            },
            {
              "name": "customer_id",
              "type": "number",
              "value": "={{$json.customer_id}}"
            },
            {
              "name": "scene_id",
              "type": "number",
              "value": "={{$json.scenes.scene_id}}"
            },
            {
              "name": "image_prompt",
              "type": "string",
              "value": "={{$json.scenes.image_prompt}}"
            },
            {
              "name": "voiceover_text",
              "type": "string",
              "value": "={{$json.scenes.voiceover_text}}"
            },
            {
              "name": "replicate_poll_count",
              "type": "number",
              "value": 0
            },
            {
              "name": "replicate_max_polls",
              "type": "number",
              "value": 40
            }
          ]
        }
      },
      "id": "set-scene-context",
      "name": "Set - Scene Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "amount": 11
      },
      "id": "wait-rate-limit",
      "name": "Wait - Replicate Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"input\": {\"prompt\": $json.image_prompt + \", photorealistic, 9:16 vertical, ultra-detailed, no text, no people\", \"aspect_ratio\": \"9:16\", \"output_format\": \"jpg\", \"output_quality\": 90, \"go_fast\": true, \"num_outputs\": 1}} }}",
        "options": {}
      },
      "id": "replicate-create",
      "name": "Replicate - Create Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2440,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_REPLICATE_CRED_ID",
          "name": "replicate"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "job_id",
              "type": "number",
              "value": "={{$(\"Set - Scene Context\").item.json.job_id}}"
            },
            {
              "name": "topic",
              "type": "string",
              "value": "={{$(\"Set - Scene Context\").item.json.topic}}"
            },
            {
              "name": "scene_id",
              "type": "number",
              "value": "={{$(\"Set - Scene Context\").item.json.scene_id}}"
            },
            {
              "name": "voiceover_text",
              "type": "string",
              "value": "={{$(\"Set - Scene Context\").item.json.voiceover_text}}"
            },
            {
              "name": "prediction_id",
              "type": "string",
              "value": "={{$json.id}}"
            },
            {
              "name": "prediction_get_url",
              "type": "string",
              "value": "={{$json.urls.get}}"
            },
            {
              "name": "replicate_poll_count",
              "type": "number",
              "value": 0
            },
            {
              "name": "replicate_max_polls",
              "type": "number",
              "value": 40
            }
          ]
        }
      },
      "id": "set-replicate-meta",
      "name": "Set - Replicate Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "wait-replicate",
      "name": "Wait - Replicate Poll Interval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json.prediction_get_url}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "replicate-get",
      "name": "Replicate - Get Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3100,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_REPLICATE_CRED_ID",
          "name": "replicate"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equal",
              "value2": "succeeded"
            }
          ]
        }
      },
      "id": "if-replicate-succeeded",
      "name": "IF - Replicate Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $(\"Set - Replicate Meta\").item.json.replicate_poll_count + 1 }}",
              "operation": "smaller",
              "value2": "={{ $(\"Set - Replicate Meta\").item.json.replicate_max_polls }}"
            }
          ]
        }
      },
      "id": "if-replicate-continue",
      "name": "IF - Replicate Continue Polling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3540,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "job_id",
              "type": "number",
              "value": "={{$(\"Set - Replicate Meta\").item.json.job_id}}"
            },
            {
              "name": "topic",
              "type": "string",
              "value": "={{$(\"Set - Replicate Meta\").item.json.topic}}"
            },
            {
              "name": "scene_id",
              "type": "number",
              "value": "={{$(\"Set - Replicate Meta\").item.json.scene_id}}"
            },
            {
              "name": "voiceover_text",
              "type": "string",
              "value": "={{$(\"Set - Replicate Meta\").item.json.voiceover_text}}"
            },
            {
              "name": "prediction_get_url",
              "type": "string",
              "value": "={{$(\"Set - Replicate Meta\").item.json.prediction_get_url}}"
            },
            {
              "name": "replicate_poll_count",
              "type": "number",
              "value": "={{$(\"Set - Replicate Meta\").item.json.replicate_poll_count + 1}}"
            },
            {
              "name": "replicate_max_polls",
              "type": "number",
              "value": "={{$(\"Set - Replicate Meta\").item.json.replicate_max_polls}}"
            }
          ]
        }
      },
      "id": "set-replicate-next-poll",
      "name": "Set - Replicate Next Poll",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "job_id",
              "type": "number",
              "value": "={{$(\"Set - Replicate Meta\").item.json.job_id}}"
            },
            {
              "name": "topic",
              "type": "string",
              "value": "={{$(\"Set - Replicate Meta\").item.json.topic}}"
            },
            {
              "name": "scene_id",
              "type": "number",
              "value": "={{$(\"Set - Replicate Meta\").item.json.scene_id}}"
            },
            {
              "name": "voiceover_text",
              "type": "string",
              "value": "={{$(\"Set - Replicate Meta\").item.json.voiceover_text}}"
            },
            {
              "name": "image_url",
              "type": "string",
              "value": "={{$json.output[0]}}"
            }
          ]
        }
      },
      "id": "set-image-output",
      "name": "Set - Image Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3540,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.elevenlabs.io/v1/text-to-speech/\" + $env.ELEVENLABS_VOICE_ID + \"?output_format=mp3_44100_128\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"text\": $json.voiceover_text, \"model_id\": \"eleven_turbo_v2_5\", \"voice_settings\": {\"stability\": 0.45, \"similarity_boost\": 0.82, \"style\": 0.15, \"use_speaker_boost\": true}} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_data"
            }
          }
        }
      },
      "id": "elevenlabs-generate",
      "name": "ElevenLabs - Generate Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4200,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ELEVENLABS_CRED_ID",
          "name": "elevenlabs"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{$env.B2_BUCKET_NAME}}",
        "binaryData": true,
        "binaryPropertyName": "audio_data",
        "fileName": "={{'tts-cache/' + $env.ELEVENLABS_VOICE_ID + '/' + $(\"Crypto - Hash Voiceover\").item.json.voiceover_hash + '.mpga'}}",
        "additionalFields": {}
      },
      "id": "s3-upload-audio",
      "name": "S3 - Upload Audio (B2)",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4420,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "s3": {
          "id": "REPLACE_S3_B2_CRED_ID",
          "name": "Backblaze B2 (S3)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "job_id",
              "type": "number",
              "value": "={{$(\"Set - Image Output\").item.json.job_id}}"
            },
            {
              "name": "topic",
              "type": "string",
              "value": "={{$(\"Set - Image Output\").item.json.topic}}"
            },
            {
              "name": "scene_id",
              "type": "number",
              "value": "={{$(\"Set - Image Output\").item.json.scene_id}}"
            },
            {
              "name": "voiceover_text",
              "type": "string",
              "value": "={{$(\"Set - Image Output\").item.json.voiceover_text}}"
            },
            {
              "name": "image_url",
              "type": "string",
              "value": "={{$(\"Set - Image Output\").item.json.image_url}}"
            },
            {
              "name": "audio_url",
              "type": "string",
              "value": "={{$env.B2_ENDPOINT + '/' + $env.B2_BUCKET_NAME + '/tts-cache/' + $env.ELEVENLABS_VOICE_ID + '/' + $(\"Crypto - Hash Voiceover\").item.json.voiceover_hash + '.mpga'}}"
            }
          ]
        }
      },
      "id": "set-audio-output",
      "name": "Set - Audio Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4640,
        180
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "fieldsToMatchString": "scene_id",
        "options": {}
      },
      "id": "merge-scene-assets",
      "name": "Merge - Scene Assets by scene_id",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4860,
        280
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "scenes",
        "options": {}
      },
      "id": "aggregate-scenes",
      "name": "Aggregate - Final Scenes",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5080,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "queue_payload",
              "type": "object",
              "value": "={{ { job_id: $(\"Postgres - Insert Job\").item.json.id, topic: $(\"Webhook - Generate Video\").item.json.body.topic, customer_id: $(\"Webhook - Generate Video\").item.json.body.customer_id, scenes: $json.scenes } }}"
            }
          ]
        }
      },
      "id": "set-queue-payload",
      "name": "Set - Queue Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5300,
        420
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "reels:jobs",
        "messageData": "={{ JSON.stringify($json.queue_payload) }}",
        "tail": true
      },
      "id": "redis-push",
      "name": "Redis - Push Render Job",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5520,
        420
      ],
      "credentials": {
        "redis": {
          "id": "REPLACE_REDIS_CRED_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "video_jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$(\"Postgres - Insert Job\").item.json.id}}",
            "customer_id": "={{$json.queue_payload.customer_id}}",
            "topic": "={{$json.queue_payload.topic}}",
            "status": "processing",
            "cost_breakdown": "={{ { anthropic: 0.01, replicate: 0.05, elevenlabs: 0.03 } }}",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "operation": "update",
        "options": {}
      },
      "id": "pg-update-processing",
      "name": "Postgres - Mark Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5740,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "video_jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$(\"Postgres - Insert Job\").item.json.id}}",
            "status": "failed",
            "error_logs": "={{$json.error || $json.message || 'scene processing failed'}}",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "operation": "update",
        "options": {}
      },
      "id": "pg-mark-failed",
      "name": "Postgres - Mark Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3980,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { ok: false, error: 'Workflow failed', job_id: $(\"Postgres - Insert Job\").item.json.id } }}",
        "options": {}
      },
      "id": "respond-failed",
      "name": "Respond - Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        4200,
        600
      ]
    },
    {
      "parameters": {
        "action": "hash",
        "type": "MD5",
        "value": "={{$json.voiceover_text}}",
        "dataPropertyName": "voiceover_hash"
      },
      "id": "crypto-hash-voiceover",
      "name": "Crypto - Hash Voiceover",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        3760,
        180
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "={{$env.B2_BUCKET_NAME}}",
        "fileName": "={{'tts-cache/' + $env.ELEVENLABS_VOICE_ID + '/' + $json.voiceover_hash + '.mpga'}}"
      },
      "id": "s3-check-cache",
      "name": "S3 - Check Cache",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        3980,
        180
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "s3": {
          "id": "REPLACE_S3_B2_CRED_ID",
          "name": "Backblaze B2 (S3)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-render-callback",
      "name": "Webhook - Render Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE video_jobs SET callback_received_at = NOW() WHERE id = $1",
        "additionalFields": {
          "queryParams": "={{$json.body.job_id}}"
        }
      },
      "id": "pg-update-callback",
      "name": "Postgres - Update Callback Received",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        420,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_POSTGRES_CRED_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "respond-callback-ok",
      "name": "Respond - Callback OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        640,
        700
      ]
    }
  ],
  "connections": {
    "Webhook - Generate Video": {
      "main": [
        [
          {
            "node": "Postgres - Check Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Check Quota": {
      "main": [
        [
          {
            "node": "IF - Has Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Quota": {
      "main": [
        [
          {
            "node": "Postgres - Insert Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - No Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Insert Job": {
      "main": [
        [
          {
            "node": "Respond - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond - Queued": {
      "main": [
        [
          {
            "node": "Anthropic - Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic - Generate Script": {
      "main": [
        [
          {
            "node": "Set - Script Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Script Context": {
      "main": [
        [
          {
            "node": "Split - Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split - Scenes": {
      "main": [
        [
          {
            "node": "Loop - Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - Scenes": {
      "main": [
        [
          {
            "node": "Aggregate - Final Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Scene Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Scene Context": {
      "main": [
        [
          {
            "node": "Wait - Replicate Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Replicate Rate Limit": {
      "main": [
        [
          {
            "node": "Replicate - Create Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate - Create Prediction": {
      "main": [
        [
          {
            "node": "Set - Replicate Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Replicate Meta": {
      "main": [
        [
          {
            "node": "Wait - Replicate Poll Interval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Replicate Poll Interval": {
      "main": [
        [
          {
            "node": "Replicate - Get Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate - Get Prediction": {
      "main": [
        [
          {
            "node": "IF - Replicate Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Replicate Succeeded": {
      "main": [
        [
          {
            "node": "Set - Image Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Replicate Continue Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Replicate Continue Polling": {
      "main": [
        [
          {
            "node": "Set - Replicate Next Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres - Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Replicate Next Poll": {
      "main": [
        [
          {
            "node": "Wait - Replicate Poll Interval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Image Output": {
      "main": [
        [
          {
            "node": "Merge - Scene Assets by scene_id",
            "type": "main",
            "index": 1
          },
          {
            "node": "Crypto - Hash Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Generate Audio": {
      "main": [
        [
          {
            "node": "S3 - Upload Audio (B2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 - Upload Audio (B2)": {
      "main": [
        [
          {
            "node": "Set - Audio Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Audio Output": {
      "main": [
        [
          {
            "node": "Merge - Scene Assets by scene_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Scene Assets by scene_id": {
      "main": [
        [
          {
            "node": "Loop - Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - Final Scenes": {
      "main": [
        [
          {
            "node": "Set - Queue Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Queue Payload": {
      "main": [
        [
          {
            "node": "Redis - Push Render Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Push Render Job": {
      "main": [
        [
          {
            "node": "Postgres - Mark Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Mark Failed": {
      "main": [
        [
          {
            "node": "Respond - Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto - Hash Voiceover": {
      "main": [
        [
          {
            "node": "S3 - Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 - Check Cache": {
      "main": [
        [
          {
            "node": "Set - Audio Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ElevenLabs - Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Render Callback": {
      "main": [
        [
          {
            "node": "Postgres - Update Callback Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Update Callback Received": {
      "main": [
        [
          {
            "node": "Respond - Callback OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "production-template-v2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
